@model Diplomado_MVC_UASD_Login.Models.SignIn

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <div class="container">
        <div class="card card-container">
            <h2 class="titleLogin">Iniciar Sesi&Oacute;n</h2>

            @Html.ValidationSummary(true, "", new { @class = "text-danger"})
            @using (Html.BeginForm("Usuarios", "Home", FormMethod.Post, new { @class = "form-signin" } ))
            {
                <div>
                    @Html.PasswordFor(dl => dl.Email, new { @class = "form-control", @placeholder = "Email" })
                    @Html.ValidationMessageFor(dl => dl.Email, "", new { @class = "text-danger" })
                </div>

                <div>
                    
                </div>
            }
        </div>
    </div>
</div>