
@{
    ViewBag.Title = "Users";
}

<div class="jumbotron">
    <h1>Sistema de Registro de Login</h1>
    <p class="lead">Este es un ejemplo de Registro de Login utilizando DBML.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Leer M&Aacute;s</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2></h2>
        <p></p>
    </div>
    <div class="col-md-4">
        <h2></h2>
        <p></p>
    </div>
    <div class="col-md-4">
        <h2></h2>
        <p></p>
    </div>
</div>
